@font-face {
    font-family: "BadScript";
    src: url("../assets/fonts/Bad_Script/BadScript-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "IndieFlower";
    src: url("../assets/fonts/Indie_Flower/IndieFlower-Regular.ttf") format("truetype");
}

html, body {
    width: 100vw;
    height: 100dvh;
    min-height: 100dvh;
    margin: 0;
    
    overflow: hidden;

    font-family: "BadScript", cursive;
    // font-family: "IndieFlower", cursive;
    text-align: center;
}

#scene {
    position: relative;
    width: 100%;
    height: 100dvh;
    z-index: 1;
}

h1 {
    font-size: xx-large;
}

p {
    font-size: larger;
}

// background-color: #c0ddff;
.primary-button {
    padding: 12px 28px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 20px;

    background:
        linear-gradient(
            145deg,
            #ffffff 0%,
            #f8fbfa 35%,
            #e5f3f8 100%
        );

    box-shadow:
        inset 2px 2px 4px rgba(255, 255, 255, 0.9),
        inset -2px -3px 5px rgba(170, 205, 220, 0.35),
        0 5px 10px rgba(150, 180, 195, 0.25);

    font-family: "IndieFlower", cursive;
    font-size: large;

    cursor: pointer;

    transition: transform 0.1s ease, box-shadow 0.1s ease;

    &:active {
        transform: translateY(3px);

        box-shadow:
            inset 2px 2px 5px rgba(170, 205, 220, 0.35),
            inset -2px -2px 4px rgba(255, 255, 255, 0.9),
            0 2px 5px rgba(150, 180, 195, 0.2);
    }
}

.buttons-container {
    position: absolute;
    bottom: 22.5rem;
    flex-direction: column;
    gap: 17.5px;
}

// visibilità
.is-hidden {
    opacity: 0;
    visibility: hidden;
}

.is-hidden-with-fade {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.875s ease, visibility 0.875s ease;
}

// INTRO SCENE
.scene-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .scene-title {
        position: relative;
        margin: 0 0 1.25rem 0;
        z-index: 3;
    }

    .scene-message {
        width: 60%;
        position: relative;
        margin: 0 0 1.25rem 0;
        z-index: 2;
    }

    .primary-button {
        position: relative;
        margin: 1.25rem 0 0 0;
        z-index: 5;
    }
}

// GO ON SCENE
.scene-go-on {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @keyframes snowfall {
        0% {
            transform: translate(-10px, -10vh);
        }
    
        25% {
            transform: translate(15px, 25vh);
        }
    
        50% {
            transform: translate(-15px, 50vh);
        }
    
        75% {
            transform: translate(10px, 75vh);
        }
    
        100% {
            transform: translate(-10px, 110vh);
        }
    }
    
    .snow-container {
        position: fixed;
        inset: 0;
        overflow: hidden;
        pointer-events: none;
    }
    
    .snowflake {
        position: absolute;
        top: -5%;
        font-size: 1rem;
        animation: snowfall 30s linear infinite;
        pointer-events: none;
        color: #f5f9ff;
        opacity: 0.75;
        filter: blur(0.5px);
    }
    

    .snow-frame-container {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        
        .snow-frame-top, .snow-frame-bottom {
            position: absolute;
            width: 150%;
            height: auto;
            left: 50%;
            transform: translateX(-50%);
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
            color: #d8eafa;
        }
        
        .snow-frame-top {
            top: 0%;
        }

        .snow-frame-bottom {
            bottom: 0%;
        }
    }
}

// TOO EARLY SCENE
.scene-too-early {
    .snow-angel-bg {
        position: absolute;
        width: auto;
        height: 120vh;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 13.75%);
        z-index: 0;
    }

    // testi per too early scene
    .texts-container {
        position: absolute;
        top: 14.25rem;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        z-index: 1;

        .countdown-text {
            margin: 0 0 1.25rem 0;
            color: #485884;
            line-height: 1;
            font-size: medium;
        }
        
        .scene-title {
            margin: 0.25rem 0 0.5rem 0;
            font-size: x-large;
        }
        
        .scene-message {
            margin: 0.25rem 0 0.25rem 0;
            font-size: medium;
        }
        
            .primary-button {
                margin: 0;
                top: 1.25rem;
                z-index: 1;
            }
    }

    // calendari
    .calendars-container {
        position: absolute;
        top: 4.25rem;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        gap: 0.5rem;
        z-index: 1;

        .calendar-wrapper {
            flex: 0 0 auto;
            text-align: center;
        }

        .calendar-label {
            font-size: 0.7rem;
            font-weight: 600;
            letter-spacing: 0.12em;
            color: #485884;
            z-index: 5;
            font-family: "IndieFlower", cursive;
        }

        .calendar {
            width: 90px;
            z-index: 1;
        }

        .calendar-top {
            position: relative;
            z-index: 2;
            top: 2.5px;
            width: 96%;
            height: 22px;
            background: #b0c1dd;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);

            &::before {
                content: "";
                position: absolute;
                top: -6px;
                left: 0px;
                width: calc(100% + 5.5px);
                height: 6px;
                background: #d4ddf9;
                clip-path: polygon(
                    0 100%,
                    6px 0,
                    100% 0,
                    calc(100% - 6px) 100%
                );
            }

            &::after {
                content: "";
                position: absolute;
                top: -6px;
                right: -5px;
                width: 5px;
                height: 28px;
                background: #7580a5;
                clip-path: polygon(
                    0 6px,
                    100% 0,
                    100% calc(100% - 6px),
                    0 100%
                );
            }
        }

        .calendar-paper {
            min-height: 75px;
            height: 90px;
            aspect-ratio: 1 / 1;
            padding: 0.75rem 0.5rem;
            background: #fefbf5;
            border: 1px solid #e5e0d6;
            border-top: none;
            box-sizing: border-box;
            box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.12);
            border-radius: 0 0 7px 7px;
            // la texture
            background-image:
                radial-gradient(
                    rgba(120, 110, 90, 0.08) 0.6px,
                    transparent 0.6px
                ),
                radial-gradient(
                    rgba(120, 110, 90, 0.05) 0.5px,
                    transparent 0.5px
                );
            background-size: 7px 7px, 11px 11px;
            background-position: 0 0, 3px 4px;    
        }

        .calendar-month {
            margin-top: 0.25rem;
            margin-bottom: 0.125rem;
            font-size: 0.65rem;
            font-weight: 500;
            letter-spacing: 0.1em;
        }

        .calendar-day {
            margin-top: 0rem;
            font-size: 1.75rem;
            font-weight: 550;
            color: #485884;
            line-height: 1;
        }
    }

    // i coniglietti
    // snow angel
    .snow-angel-bunny-one {
        position: absolute;
        width: 30vw;
        left: 50%;
        bottom: 15%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .snow-angel-bunny-two {
        position: absolute;
        width: 32vw;
        left: 50%;
        bottom: 15%;
        transform: translateX(-50%);
        z-index: 1;
    }
}

// ON TIME SCENE
.scene-on-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .white-clouds-container {        
        position: absolute;
        width: 100vw;
        top: 13.75rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 1;
        
        .scene-title {
            position: absolute;
            bottom: 3.5rem;
            margin: 0 0 0.5rem 0;
            font-size: larger;
            // color: #d4ddf9;
            color: #78879a;
            z-index: 3;
        }
        
        .white-cloud1 {
            width: 47.5%;
            transform: scaleX(-1);
            margin-right: -11vw;
        }
        
        .white-cloud2 {
            width: 47.5%;
            margin-left: -11vw;
        }
    }

    // calendari
    .calendars-container {
        position: absolute;
        top: 4.25rem;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        gap: 0.5rem;
        z-index: 2;

        .calendar-wrapper {
            flex: 0 0 auto;
            text-align: center;
        }

        .calendar-label {
            font-size: 0.7rem;
            font-weight: 600;
            letter-spacing: 0.12em;
            margin-bottom: 0.25rem;
            color: #485884;
            z-index: 5;
            font-family: "IndieFlower", cursive;
        }

        .calendar {
            width: 90px;
            z-index: 1;
        }

        .calendar-top {
            position: relative;
            z-index: 2;
            top: 2.5px;
            width: 96%;
            height: 22px;
            background: #b0c1dd;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);

            &::before {
                content: "";
                position: absolute;
                top: -6px;
                left: 0px;
                width: calc(100% + 5.5px);
                height: 6px;
                background: #d4ddf9;
                clip-path: polygon(
                    0 100%,
                    6px 0,
                    100% 0,
                    calc(100% - 6px) 100%
                );
            }

            &::after {
                content: "";
                position: absolute;
                top: -6px;
                right: -5px;
                width: 5px;
                height: 28px;
                background: #7580a5;
                clip-path: polygon(
                    0 6px,
                    100% 0,
                    100% calc(100% - 6px),
                    0 100%
                );
            }
        }

        .calendar-paper {
            min-height: 75px;
            height: 90px;
            aspect-ratio: 1 / 1;
            padding: 0.75rem 0.5rem;
            background: #fefbf5;
            border: 1px solid #e5e0d6;
            border-top: none;
            box-sizing: border-box;
            box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.12);
            border-radius: 0 0 7px 7px;
            // la texture
            background-image:
                radial-gradient(
                    rgba(120, 110, 90, 0.08) 0.6px,
                    transparent 0.6px
                ),
                radial-gradient(
                    rgba(120, 110, 90, 0.05) 0.5px,
                    transparent 0.5px
                );
            background-size: 7px 7px, 11px 11px;
            background-position: 0 0, 3px 4px;    
        }

        .calendar-month {
            margin-top: 0.25rem;
            margin-bottom: 0.125rem;
            font-size: 0.65rem;
            font-weight: 500;
            letter-spacing: 0.1em;
        }

        .calendar-day {
            margin-top: 0rem;
            font-size: 1.75rem;
            font-weight: 550;
            color: #485884;
            line-height: 1;
        }
    }

    .bunny-and-button-container {
        position: absolute;
        width: 100vw;
        left: 50%;
        bottom: 16.25%;
        transform: translateX(-50%);

        // i coniglietti
        .waving-bunny-one {
            position: absolute;
            width: 30vw;
            left: 47.5%;
            bottom: 6.25vh;
            transform: translateX(-50%);
        }

        .waving-bunny-two {
            position: absolute;
            width: 32vw;
            left: 44.5%;
            bottom: 6.25vh;
            transform: translateX(-50%);
        }

        .waving-bunny-text {
            position: absolute;
            width: 42.5vw;
            left: 76.25%;
            bottom: 17vh;
            transform: translateX(-50%);
        }
        
        .primary-button {
            position: absolute;
            width: max-content;
            margin: 0;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0%;
            z-index: 2;
            font-size: larger;
        }
    }
}

// BALLOONS SCENE
.scene-balloons {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .scene-title {
        position: absolute;
        margin: 0 0 1.25rem 0;
        z-index: 2;
        align-items: center;
        // color: #d4ddf9;
        color: #78879a;
        font-size: x-large;
        top: 9.25%;
        left: 50%;
        transform: translate(-50%);
    }

    .frame-and-mask-and-balloons-container {
        position: absolute;
        width: 100vw;
        aspect-ratio: 752 / 987;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        
        .frame-back {
            position: absolute;
            width: 83.25vw;
            aspect-ratio: 90 / 124;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #f6f9ff;
            z-index: 1;
            
            &.cake-bg-zoom {
                animation: cakeBgZoom 0.875s ease-in forwards;
            }

            &.snowglobe-bg-zoom {
                animation: snowglobeBgZoom 0.875s ease-in forwards;
            }
        }

        .cake-balloon-scene {
            position: absolute;
            width: 12.5vw;
            aspect-ratio: 1 / 0.823;
            top: 62.5%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;

            &.cake-zoom {
                animation: cakeZoom 0.875s ease-in forwards;
            }
        }

        @keyframes cakeBgZoom {
            from {
                transform: translate(-50%, -50%) scale(1);
            }
        
            to {
                transform: translate(-50%, -50%) scale(1.83);
            }
        }

        @keyframes cakeZoom {
            from {
                transform: translate(-50%, -50%) scale(1);
            }
        
            to {
                transform: translate(-50%, -50%) scale(8);
            }
        }

        
        .snowglobe-snowglobe-scene-container {
            position: absolute;
            width: 100vw;
            aspect-ratio: 0.837 / 1;
            top: 70.375%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.125);
            z-index: 2;

            .snowglobe-snowglobe-scene-base,
            .snowglobe-snowglobe-scene-glass,
            .snowglobe-snowglobe-scene-no-glass {
                position: absolute;
                width: 100%;
                height: auto;
                left: 0;
            }
            
            .snowglobe-snowglobe-scene-base {
                width: 84.6%;
                bottom: 0%;
                left: 7.7%;  
                z-index: 7;
            }
            
            .snowglobe-snowglobe-scene-glass {
                z-index: 3;
            }
            
            .snowglobe-snowglobe-scene-no-glass {
                width: 87.5%;
                left: 7.875%;
                bottom: 0%;
                z-index: 1;
            }

            &.snowglobe-zoom {
                animation: snowglobeZoom 0.875s ease-in forwards;
            }
        }

        @keyframes snowglobeBgZoom {
            from {
                transform: translate(-50%, -50%) scale(1);
            }
        
            to {
                transform: translate(-50%, -50%) scale(1.83);
            }
        }

        @keyframes snowglobeZoom {
            from {
                transform: translate(-50%, -50%) scale(0.125);
            }
        
            to {
                transform: translate(-50%, -50%) scale(1);
            }
        }

        .frame-front {
            position: absolute;
            width: 100%;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
        }
        
        .balloon-mask {
            position: absolute;
            width: 83.25vw;
            aspect-ratio: 90 / 123;
            top: 50.125%;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow: hidden;
            z-index: 4;
            
            .balloon {
                position: absolute;
                width: 20vw;
                height: auto;
                transform: translate(-50%, -50%);
                transition: opacity 1s ease;
            }

            .balloon-fade-out {
                opacity: 0;
            }
        }
    }
}

// CAKE SCENE
.scene-cake {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .scene-title {
        position: absolute;
        width: 100vw;
        top: -10vh;
        left: 50%;
        margin: 0 0 1.25rem 0;
        color: #78879a;
        font-size: larger;
        transform: translate(-50%, -50%);
        z-index: 3;
    }
    
    .scene-message {
        position: absolute;
        width: 100vw;
        top: -7.5vh;
        left: 50%;
        margin: 1.25rem 0 0 0;
        color: #485884;
        font-size: medium;
        transform: translate(-50%, -50%);
        z-index: 3;
    }

    .fake-cake-bg {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .cake-and-candles-container {
        position: absolute;
        width: 100vw;
        aspect-ratio: 1 / 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        
        .cake-cake-scene {
            position: absolute;
            width: 100%;
            aspect-ratio: 1 / 0.823;
            top: 66.25%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .single-candle-container {
            position: absolute;
            width: 2vw;
            height: auto;
            top: 9.25%;
            transform: translateX(-50%);
            
            .candle {
                display: block;
                width: 100%;
                height: auto;
            }
            
            .flame {
                position: absolute;
                width: auto;
                height: 25%;
                top: -20%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .snowglobe-snowglobe-scene-container {
        position: absolute;
        width: 100vw;
        aspect-ratio: 0.837 / 1;
        top: 62.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        .snowglobe-snowglobe-scene,
        .snowglobe-snowglobe-scene-base,
        .snowglobe-snowglobe-scene-glass,
        .snowglobe-snowglobe-scene-no-glass,
        .snowglobe-snowglobe-scene-glass-cracked1,
        .snowglobe-snowglobe-scene-glass-cracked2,
        .snowglobe-snowglobe-scene-glass-broken-full,
        .snowglobe-snowglobe-scene-glass-broken-left,
        .snowglobe-snowglobe-scene-glass-broken-right {
            position: absolute;
            width: 100%;
            height: auto;
            left: 0;
        }

        .snowglobe-snowglobe-scene {
            opacity: 0;
            z-index: 1;
        }
        
        .snowglobe-snowglobe-scene-base {
            width: 84.6%;
            bottom: 0%;
            left: 7.7%;  
            z-index: 7;
        }
        
        .snowglobe-snowglobe-scene-glass {
            z-index: 3;
        }
        
        .snowglobe-snowglobe-scene-no-glass {
            width: 87.5%;
            left: 7.875%;
            bottom: 0%;
            z-index: 1;
        }

        .envelope-container {
            position: absolute;
            width: 525vw;
            aspect-ratio: 658 / 648;
            top: 57.5%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.175);
            transform-origin: center center;
            z-index: 2;

            .envelope-front-bottom, 
            .envelope-front-top-open, 
            .envelope-front-top-close {
                position: absolute;
                width: 100%;
                height: auto;
                transform: translate(-50%, -50%) scale(0.2);
            }
            
            .envelope-front-top-open {
                top: 41.675%;
                left: 50%;
                z-index: 1;
                opacity: 0;
            }
            
            .envelope-front-bottom {                
                top: 50%;
                left: 50%;
                z-index: 7;
            }

            .envelope-front-top-close {
                top: 48.65%;
                left: 50%;
                z-index: 8;
            }
        }
    }

    .exploding-cake-container {
        position: absolute;
        width: 102.5vw;
        height: 102.5vh;
        top: 49.5%;
        left: 49.5%;
        transform: translate(-50%, -50%);
        z-index: 7;

        .snow1-cake-scene,
        .snow2-cake-scene,
        .snow3-cake-scene,
        .snow4-cake-scene,
        .snow5-cake-scene,
        .snow6-cake-scene {
            position: absolute;
            width: 100%;
            height: auto;
            left: 0;
        }
        
        .snow1-cake-scene {
            top: 0;
            z-index: 6;
        }

        .snow2-cake-scene {
            top: 13%;
            z-index: 5;
        }
        
        .snow3-cake-scene {
            top: 35%;
            z-index: 4;
        }
        
        .snow4-cake-scene {
            bottom: 0.5%;
            z-index: 3;
        }
        
        .snow5-cake-scene {
            bottom: 0.25%;
            z-index: 2;
        }
        
        .snow6-cake-scene {
            bottom: 0%;
            z-index: 1;
        }

        &.exploding-cake-zoom {
            animation: snowAppearAllZoom 0.625s ease-in forwards;
        }
        
        &.snow-disappear-one-by-one {
            .snow1-cake-scene {
                animation: snowDisappearOneByOneZoom 0.75s ease-in 0s forwards;
            }
        
            .snow2-cake-scene {
                animation: snowDisappearOneByOneZoom 0.75s ease-in 0.5s forwards;
            }
        
            .snow3-cake-scene {
                animation: snowDisappearOneByOneZoom 0.75s ease-in 1s forwards;
            }
        
            .snow4-cake-scene {
                animation: snowDisappearOneByOneZoom 0.75s ease-in 1.5s forwards;
            }
        
            .snow5-cake-scene {
                animation: snowDisappearOneByOneZoom 0.75s ease-in 2s forwards;
            }
        
            .snow6-cake-scene {
                animation: snowDisappearOneByOneZoom 0.75s ease-in 2.5s forwards;
            }
        }
        
        @keyframes snowAppearAllZoom {
            from {
                transform: translate(-50%, -50%) scale(0.125);
                opacity: 0;
            }
            
            to {
                transform: translate(-50%, -50%) scale(1);
                opacity: 1;
            }
        }
    
        @keyframes snowDisappearOneByOneZoom {
            from {
                transform: translateY(0%);
                opacity: 1;
            }

            to {
                transform: translateY(125vh);
                opacity: 0;
            }
        }
    }
    
    .cake-wobble {
        //animation: wobble 0.75s;
        animation: wobble 2.5s;
    }
    
    @keyframes wobble {
        0%   { transform: translate(-50%, -50%) rotate(0deg); }
        25%  { transform: translate(-50%, -50%) rotate(0.5deg); }
        50%  { transform: translate(-50%, -50%) rotate(-0.5deg); }
        60%  { transform: translate(-50%, -50%) rotate(1deg); }
        65%  { transform: translate(-50%, -50%) rotate(-1deg); }
        70%  { transform: translate(-50%, -50%) rotate(1deg); }
        75%  { transform: translate(-50%, -50%) rotate(-1deg);}
        80%  { transform: translate(-50%, -50%) rotate(1.5deg); }
        82%  { transform: translate(-50%, -50%) rotate(-1.5deg); }
        84%  { transform: translate(-50%, -50%) rotate(1.5deg); }
        86%  { transform: translate(-50%, -50%) rotate(-1.5deg); }
        88%  { transform: translate(-50%, -50%) rotate(1.5deg); }
        90%  { transform: translate(-50%, -50%) rotate(-2deg); }
        92%  { transform: translate(-50%, -50%) rotate(2deg); }
        94%  { transform: translate(-50%, -50%) rotate(-2deg); }
        95%  { transform: translate(-50%, -50%) rotate(2deg); }
        96%  { transform: translate(-50%, -50%) rotate(-2deg); }
        97%  { transform: translate(-50%, -50%) rotate(2deg); }
        98%  { transform: translate(-50%, -50%) rotate(-2deg); }
        99%  { transform: translate(-50%, -50%) rotate(2deg); }
        100% { transform: translate(-50%, -50%) rotate(0deg); }
    }
    
}

// SNOWGLOBE SCENE
.scene-snowglobe {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .scene-title {
        position: absolute;
        width: 100vw;
        top: 12.5vh;
        left: 50%;
        margin: 0 0 1.25rem 0;
        color: #485884;
        font-size: x-large;
        transform: translate(-50%, -50%);
        z-index: 3;
    }
    
    .scene-message {
        position: absolute;
        width: 100vw;
        top: 20vh;
        left: 50%;
        margin: 1.25rem 0 0 0;
        color: #485884;
        font-size: large;
        transform: translate(-50%, -50%);
        z-index: 3;
    }

    .fake-snowglobe-bg {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        &.snowglobe-dark-bg {
            --bg-color-1: #7898c4;
            --bg-color-2: #314d7a;
        }
    }

    .snowglobe-snowglobe-scene-container {
        position: absolute;
        width: 100vw;
        aspect-ratio: 0.837 / 1;
        top: 62.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        .snowglobe-snowglobe-scene,
        .snowglobe-snowglobe-scene-base,
        .snowglobe-snowglobe-scene-glass,
        .snowglobe-snowglobe-scene-no-glass,
        .snowglobe-snowglobe-scene-glass-cracked1,
        .snowglobe-snowglobe-scene-glass-cracked2,
        .snowglobe-snowglobe-scene-glass-broken-full,
        .snowglobe-snowglobe-scene-glass-broken-left,
        .snowglobe-snowglobe-scene-glass-broken-right {
            position: absolute;
            width: 100%;
            height: auto;
            left: 0;
        }

        .snowglobe-snowglobe-scene {
            opacity: 0;
            z-index: 1;
        }
        
        .snowglobe-snowglobe-scene-base {
            width: 84.6%;
            bottom: 0%;
            left: 7.7%;  
            z-index: 7;
        }
        
        .snowglobe-snowglobe-scene-glass {
            z-index: 3;
        }
        
        
        .snowglobe-snowglobe-scene-no-glass {
            width: 87.5%;
            left: 7.875%;
            bottom: 0%;
            z-index: 1;
        }
        
        .snowglobe-snowglobe-scene-glass-cracked1 {
            z-index: 4;
        }
        
        .snowglobe-snowglobe-scene-glass-cracked2 {
            z-index: 4;
        }
        
        .snowglobe-snowglobe-scene-glass-broken-full {
            opacity: 0.5;
            z-index: 5;
        }
        
        .snowglobe-snowglobe-scene-glass-broken-left {
            width: 40%;
            left: 23%;
            bottom: -32.5%;
            transform: translate(-50%, -50%) rotate(-25deg);
            opacity: 0.35;
            z-index: 8;
        }
        
        .snowglobe-snowglobe-scene-glass-broken-right {
            width: 32.5%;
            left: 78.5%;
            bottom: -37.5%;
            transform: translate(-50%, -50%) rotate(45deg);
            opacity: 0.35;
            z-index: 8;
        }

        .snowglobe-glass-fade-out {
            opacity: 0 !important;
            transition: opacity 0.875s ease;
        }

        .envelope-container {
            position: absolute;
            width: 525vw;
            aspect-ratio: 658 / 648;
            top: 57.5%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.175);
            transform-origin: center center;
            z-index: 2;

            .envelope-front-bottom, 
            .envelope-front-top-open, 
            .envelope-front-top-close {
                position: absolute;
                width: 100%;
                height: auto;
                transform: translate(-50%, -50%) scale(0.2);
            }
            
            .envelope-back {
                position: absolute;
                width: 17.995%;
                aspect-ratio: 658 / 330;
                top: 49.725%;
                left: 49.975%;
                transform: translate(-50%, -50%);
                background-color: #90A8D0;
                opacity: 1;
                z-index: 2;
            }
            
            .envelope-letter-bottom-close,
            .envelope-letter-bottom-open,
            .envelope-letter-top-open {
                position: absolute;
                width: 100%;
                height: auto;
                left: 50%;
                transform: translate(-50%, -50%) scale(0.2175);

                opacity: 0;
            }

            .envelope-letter-bottom-close {
                top: 50.625%;
                z-index: 4;
            }
            
            .envelope-letter-bottom-open {
                top: 50.625%;
                z-index: 30;
            }
            
            .envelope-letter-top-open {
                top: 39.925%;
                z-index: 50;
            }
            
            .envelope-front-top-open {
                top: 41.675%;
                left: 50%;
                z-index: 1;
                opacity: 0;
            }
            
            .envelope-front-bottom {                
                top: 50%;
                left: 50%;
                z-index: 7;
            }

            .envelope-front-top-close {
                top: 48.65%;
                left: 50%;
                z-index: 8;
            }
        }
    }

    .snowglobe-wobble {
        animation: wobble 0.375s;
    }

    @keyframes wobble {
        0%   { transform: translate(-50%, -50%) rotate(0deg); }
        25%  { transform: translate(-50%, -50%) rotate(0.5deg); }
        50%  { transform: translate(-50%, -50%) rotate(-0.5deg); }
        60%  { transform: translate(-50%, -50%) rotate(1deg); }
        65%  { transform: translate(-50%, -50%) rotate(-1deg); }
        70%  { transform: translate(-50%, -50%) rotate(1deg); }
        75%  { transform: translate(-50%, -50%) rotate(-1deg);}
        80%  { transform: translate(-50%, -50%) rotate(1.5deg); }
        82%  { transform: translate(-50%, -50%) rotate(-1.5deg); }
        84%  { transform: translate(-50%, -50%) rotate(1.5deg); }
        86%  { transform: translate(-50%, -50%) rotate(-1.5deg); }
        88%  { transform: translate(-50%, -50%) rotate(1.5deg); }
        90%  { transform: translate(-50%, -50%) rotate(-2deg); }
        92%  { transform: translate(-50%, -50%) rotate(2deg); }
        94%  { transform: translate(-50%, -50%) rotate(-2deg); }
        95%  { transform: translate(-50%, -50%) rotate(2deg); }
        96%  { transform: translate(-50%, -50%) rotate(-2deg); }
        97%  { transform: translate(-50%, -50%) rotate(2deg); }
        98%  { transform: translate(-50%, -50%) rotate(-2deg); }
        99%  { transform: translate(-50%, -50%) rotate(2deg); }
        100% { transform: translate(-50%, -50%) rotate(0deg); }
    }

    .snowglobe-mask {
        position: absolute;
        width: 99vw;
        aspect-ratio: 1 / 1.0125;
        top: 1%;
        left: 0.5%;
        opacity: 0.5;
        border-radius: 50%;
        overflow: hidden;

        .snowflake {
            position: absolute;
            height: auto;
            
            &.is-shaking {
                animation: snowflake-shake var(--duration) ease-in-out;
            }

            &.snowflake-white {
                filter:
                grayscale(1) brightness(0) invert(1) drop-shadow(0 0 3px rgba(255, 255, 255, 0.8));
            }

            &.snowflake-whiter {
                filter:
                    grayscale(1) brightness(0) invert(1);
            }
        }

        @keyframes snowflake-shake {
            0% {
                transform: translateY(0) rotate(0deg);
            }
        
            45% {
                transform: translateY(calc(var(--rise) * -1))
                           rotate(var(--rotation));
            }
        
            55% {
                transform: translateY(calc(var(--rise) * -1))
                           rotate(calc(var(--rotation) * 1.15));
            }
        
            100% {
                transform: translateY(0) rotate(calc(var(--rotation) * 2));
            }
        }
    }
}

// SCENA LETTER
.scene-letter {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .scene-title {
        position: absolute;
        width: 100vw;
        top: 15vh;
        left: 50%;
        margin: 0 0 1.25rem 0;
        color: #485884;
        font-size: x-large;
        transform: translate(-50%, -50%);
        z-index: 12;
    }
    
    .envelope-container {
        position: absolute;
        width: 525vw;
        aspect-ratio: 658 / 648;
        top: 66.625%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.175);
        transform-origin: center center;
        z-index: 1;

        .envelope-front-bottom, 
        .envelope-front-top-open, 
        .envelope-front-top-close {
            position: absolute;
            width: 100%;
            height: auto;
        }
        
        .envelope-back {
            position: absolute;
            width: 17.995%;
            aspect-ratio: 658 / 330;
            top: 49.725%;
            left: 49.975%;
            transform: translate(-50%, -50%);
            background-color: #90A8D0;
            opacity: 1;
            z-index: 1;
        }
        
        .letter-container {
            position: absolute;
            width: 100%;
            aspect-ratio: 1316 / 1353;
            top: 50.4%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.2125);
            transform-origin: center center;
            z-index: 2;

            .envelope-letter-bottom-close,
            .envelope-letter-bottom-open,
            .envelope-letter-top-open {
                position: absolute;
                width: 100%;
                height: auto;
                left: 50%;
            }

            .envelope-letter-bottom-close {
                top: 50.625%;
                transform: translate(-50%, -50%) scaleY(1);
                transform-origin: 50% 0%;
                z-index: 4;
                opacity: 1;
                
                &.increase-z {
                    transform: translate(-50%, -50%) scaleY(0);
                    transition: transform 0.875s ease-in;
                }
            }
            
            .envelope-letter-bottom-open {
                top: 50.625%;
                transform: translate(-50%, -50%);
                z-index: 3;
            }
            
            .envelope-letter-top-open {
                top: 3.25%;
                transform: translate(-50%, -50%) scaleY(0);
                transform-origin: 50% 100%;
                z-index: 5;
                
                &.decrease-z {
                    transform: translate(-50%, -50%) scaleY(1);
                    transition: transform 0.875s ease-out;
                }
            }
            
            &.letter-pulled-out {
                transform: translate(-50%, -52.5%) scale(0.2125);
                transition: transform 1.25s ease-out;
            }
            
            .letter-window {
                position: absolute;
                top: 21.25%;
                bottom: -5%;
                left: 11.25%;
                right: 11.25%;
                transform: translateY(-43.75%);
                overflow-y: auto;
                z-index: 10;
                
                .letter-text {
                    min-height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    z-index: 7;
                    font-family: "IndieFlower", cursive;
                    opacity: 0;

                    &.letter-appears {
                        opacity: 1;
                        transition: opacity 0.875s ease-out;
                    }
                }
                
                .letter-text p {
                    margin: 0 0 1rem;
                    font-size: 3.75rem;
                    line-height: 1.55;
                    text-align: left;
                    
                    &.signature {
                        width: 100%;
                        margin-top: 2rem;
                        text-align: right;
                    }
                    
                    &.date {
                        width: 100%;
                        margin-bottom: 1.25rem;
                        text-align: right;
                    }
                }
            }
        }
        
        .envelope-front-top-open {
            top: 23.55%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.2) scaleY(0);
            transform-origin: 50% 100%;
            z-index: 1;

            &.decrease-z {
                transform:
                    translate(-50%, -50%)
                    scale(0.2)
                    scaleY(1);
                transition: transform 1.25s ease-out;
            }
        }
        
        .envelope-front-bottom {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.2);
            z-index: 7;
        }
        
        .envelope-front-top-close {
            // top: 48.65%;
            top: 62.675%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.2) scaleY(1);
            transform-origin: 50% 11.25%;
            z-index: 8;
            
            &.increase-z {
                transform:
                    translate(-50%, -50%)
                    scale(0.2)
                    scaleY(0);
                transition: transform 1.25s ease-in;
            }
        }

        &.envelope-zoom {
            transform: translate(-50%, -50%) scale(1);
            transition: transform 1.25s ease;
        }
        
        .seal-container {
            position: absolute;
            width: 150px;
            height: 150px;
            left: 50%;
            top: 51.25%;
            // bottom: -7.5%;
            z-index: 9;
            transform: translate(-50%, -50%);
            
            .seal-top {
                position: absolute;
                width: 120px;
                height: auto;
                left: 50%;
                top: 0;
                transform: translate(-50%, 15px);
            }
            
            .seal-bottom {
                position: absolute;
                width: 120px;
                height: auto;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, -15.25px);
            }
            
            .seal-left {
                position: absolute;
                width: 60px;
                height: auto;
                left: 0;
                top: 50%;
                transform: translate(15px, -50%);
            }
            
            .seal-right {
                position: absolute;
                width: 60px;
                height: auto;
                right: 0;
                top: 50%;
                transform: translate(-15px, -50%);
            }
            
            .detach {
                transition: transform 0.375s ease-out;
            }
            
            .detach-top {
                transform: translate(-50%, -2.5px) scale(1.125);
            }
            
            .detach-bottom {
                transform: translate(-50%, 2.5px) scale(1.125);
            }
            
            .detach-left {
                transform: translate(-2.5px, -50%) scale(1.125);
            }
            
            .detach-right {
                transform: translate(2.5px, -50%) scale(1.125);
            }
            
            .seal-top.fall,
            .seal-bottom.fall,
            .seal-left.fall,
            .seal-right.fall {
                animation: sealDrip 0.875s ease-in forwards;
            }
            
            @keyframes sealDrip {
                from {
                    opacity: 1;
                }
            
                to {
                    translate: 0 130vh;
                    opacity: 0;
                }
            }
        }
    }
}

// i backgrounds
.bg-intro {
    background: linear-gradient(
        35deg,
        #d0e6ff 50%,
        #fff6dd 80%,
        #fffdf5 100%
    );
}

.bg-go-on {
    background-color: #90a9d0;
}

.bg-too-early {
    // background-image: url("../assets/images/bg-snow-angel3.png");
    // background-size: 177% auto;
    // background-position: 50% 15%;
    // background-repeat: no-repeat;
    background-color: #ffffff;
}

.bg-on-time {
    background-image: url("../assets/images/air-view-snow-bg1.png");
    background-size: auto 100%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

.bg-balloons {
    width: 100%;
    height: 100%;

    background-color: #fffcf8;

    background-image:
        linear-gradient(
            90deg,
            rgba(155, 190, 205, 0.125) 15px,
            transparent 15px
        ),
        linear-gradient(
            0deg,
            rgba(155, 190, 205, 0.125) 15px,
            transparent 15px
        );

    background-size: 70px 77.5px;
}

.bg-cake {
    background:
        radial-gradient(
            circle at 50% 50%,
            #d3e9ff 0%,
            #d0e6ff 50%,
            #fff6dd 88%,
            #ffffff 100%
        );
    // background:
    //     radial-gradient(
    //         circle at 50% 50%,
    //         #dfe6ff 0%,
    //         #dfedff 50%,
    //         #fff9e9 88%,
    //         #ffffff 100%
    //     );
}

.bg-snowglobe {
    background:
        radial-gradient(
            circle at 50% 50%,
            #d3e9ff 0%,
            #d0e6ff 50%,
            #fff6dd 88%,
            #ffffff 100%
        );

    &::after {
        content: "";
        position: absolute;
        inset: 0;

        background:
            radial-gradient(
                circle at 50% 50%,
                #5576a8 30%,
                #e0ecff 100%
                );
                // #314d7a 0%,

        opacity: 0;
        transition: opacity 15s ease;
    }

    &.bg-snowglobe-dark::after {
        opacity: 1;
    }
}

.bg-letter {
    background:
        radial-gradient(
            circle at 50% 50%,
            #5576a8 30%,
            #e0ecff 100%
        );
}

.bg-empty {
    background: #ffffff;
}

// il bokeh
#bokeh-container {
    position: fixed;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}

.bokeh-dot {
    position: absolute;
    border-radius: 50%;
    filter: blur(2px);
    animation: bokehFloat 8s ease-in-out infinite alternate;
}

@keyframes bokehFloat {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-12px);
    }
}