@font-face {
    font-family: "BadScript";
    src: url("../assets/fonts/Bad_Script/BadScript-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "IndieFlower";
    src: url("../assets/fonts/Indie_Flower/IndieFlower-Regular.ttf") format("truetype");
}

html, body {
    width: 100vw;
    height: 100dvh;
    min-height: 100dvh;
    margin: 0;
    
    overflow: hidden;

    font-family: "BadScript", cursive;
    // font-family: "IndieFlower", cursive;
    text-align: center;
}

#scene {
    position: relative;
    width: 100%;
    height: 100dvh;
    z-index: 1;
}

h1 {
    font-size: xx-large;
}

p {
    font-size: larger;
}

// background-color: #c0ddff;
.primary-button {
    padding: 12px 28px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 20px;

    background:
        linear-gradient(
            145deg,
            #ffffff 0%,
            #f8fbfa 35%,
            #e5f3f8 100%
        );

    box-shadow:
        inset 2px 2px 4px rgba(255, 255, 255, 0.9),
        inset -2px -3px 5px rgba(170, 205, 220, 0.35),
        0 5px 10px rgba(150, 180, 195, 0.25);

    font-family: "IndieFlower", cursive;
    font-size: large;

    cursor: pointer;

    transition: transform 0.1s ease, box-shadow 0.1s ease;

    &:active {
        transform: translateY(3px);

        box-shadow:
            inset 2px 2px 5px rgba(170, 205, 220, 0.35),
            inset -2px -2px 4px rgba(255, 255, 255, 0.9),
            0 2px 5px rgba(150, 180, 195, 0.2);
    }
}

.buttons-container {
    position: absolute;
    bottom: 22.5rem;
    flex-direction: column;
    gap: 17.5px;
}

// visibilità
.is-hidden {
    opacity: 0;
    visibility: hidden;
}

// INTRO SCENE
.scene-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .scene-title {
        position: relative;
        margin: 0 0 1.25rem 0;
    }

    .scene-message {
        width: 60%;
        position: relative;
        margin: 0 0 1.25rem 0;
    }
    .primary-button {
        position: relative;
        margin: 1.25rem 0 0 0;
    }
}

// GO ON SCENE
.scene-go-on {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @keyframes snowfall {
        0% {
            transform: translate(-10px, -10vh);
        }
    
        25% {
            transform: translate(15px, 25vh);
        }
    
        50% {
            transform: translate(-15px, 50vh);
        }
    
        75% {
            transform: translate(10px, 75vh);
        }
    
        100% {
            transform: translate(-10px, 110vh);
        }
    }
    
    .snow-container {
        position: fixed;
        inset: 0;
        overflow: hidden;
        pointer-events: none;
    }
    
    .snowflake {
        position: absolute;
        top: -5%;
        font-size: 1rem;
        animation: snowfall 30s linear infinite;
        pointer-events: none;
        color: #f5f9ff;
        opacity: 0.75;
        filter: blur(0.5px);
    }
}

// TOO EARLY SCENE
.scene-too-early {
    // testi per too early scene
    .texts-container {
        position: absolute;
        top: 11.75rem;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;

        .countdown-text {
            margin: 0 0 1.25rem 0;
            color: #485884;
            line-height: 1;
            font-size: medium;
        }
        
        .scene-title {
            margin: 0 0 0.5rem 0;
            font-size: x-large;
        }
        
        .scene-message {
            margin: 0.5rem 0 0 0;
            font-size: medium;
        }
    }

    .primary-button {
        margin: 0;
        bottom: 1.25rem;
    }

    // calendari
    .calendars-container {
        position: absolute;
        top: 1rem;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        gap: 0.5rem;

        .calendar-wrapper {
            flex: 0 0 auto;
            text-align: center;
        }

        .calendar-label {
            font-size: 0.7rem;
            font-weight: 600;
            letter-spacing: 0.12em;
            color: #485884;
            z-index: 5;
            font-family: "IndieFlower", cursive;
        }

        .calendar {
            width: 100px;
            z-index: 1;
        }

        .calendar-top {
            position: relative;
            z-index: 2;
            top: 2.5px;
            width: 96%;
            height: 22px;
            background: #b0c1dd;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);

            &::before {
                content: "";
                position: absolute;
                top: -6px;
                left: 0px;
                width: calc(100% + 5.5px);
                height: 6px;
                background: #d4ddf9;
                clip-path: polygon(
                    0 100%,
                    6px 0,
                    100% 0,
                    calc(100% - 6px) 100%
                );
            }

            &::after {
                content: "";
                position: absolute;
                top: -6px;
                right: -5px;
                width: 5px;
                height: 28px;
                background: #7580a5;
                clip-path: polygon(
                    0 6px,
                    100% 0,
                    100% calc(100% - 6px),
                    0 100%
                );
            }
        }

        .calendar-paper {
            min-height: 75px;
            height: 100px;
            aspect-ratio: 1 / 1;
            padding: 0.75rem 0.5rem;
            background: #fefbf5;
            border: 1px solid #e5e0d6;
            border-top: none;
            box-sizing: border-box;
            box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.12);
            border-radius: 0 0 7px 7px;
            // la texture
            background-image:
                radial-gradient(
                    rgba(120, 110, 90, 0.08) 0.6px,
                    transparent 0.6px
                ),
                radial-gradient(
                    rgba(120, 110, 90, 0.05) 0.5px,
                    transparent 0.5px
                );
            background-size: 7px 7px, 11px 11px;
            background-position: 0 0, 3px 4px;    
        }

        .calendar-month {
            margin-top: 0.25rem;
            margin-bottom: 0.125rem;
            font-size: 0.65rem;
            font-weight: 500;
            letter-spacing: 0.1em;
        }

        .calendar-day {
            margin-top: 0rem;
            font-size: 2rem;
            font-weight: 600;
            color: #485884;
            line-height: 1;
        }
    }

    // i coniglietti
    // snow angel
    .snow-angel-bunny-one {
        position: absolute;
        width: 30vw;
        left: 50%;
        bottom: 15%;
        transform: translateX(-50%);
    }

    .snow-angel-bunny-two {
        position: absolute;
        width: 32vw;
        left: 50%;
        bottom: 15%;
        transform: translateX(-50%);
    }
}

// ON TIME SCENE
.scene-on-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .scene-title {
        position: relative;
        bottom: 8.25rem;
        margin: 0 0 0.5rem 0;
        font-size: larger;
        // color: #d4ddf9;
        color: #78879a;
        z-index: 3;
    }

    .white-clouds-container {
        position: absolute;
        width: 100vw;
        top: 10.75rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 1;
        
        .white-cloud1 {
            width: 45%;
            transform: scaleX(-1);
            margin-right: -12vw;
        }
        
        .white-cloud2 {
            width: 45%;
            margin-left: -12vw;
        }
    }

    // calendari
    .calendars-container {
        position: absolute;
        top: 1rem;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        gap: 0.5rem;
        z-index: 2;

        .calendar-wrapper {
            flex: 0 0 auto;
            text-align: center;
        }

        .calendar-label {
            font-size: 0.7rem;
            font-weight: 600;
            letter-spacing: 0.12em;
            margin-bottom: 0.25rem;
            color: #d4ddf9;
            // color: #485884;
            z-index: 5;
            font-family: "IndieFlower", cursive;
        }

        .calendar {
            width: 100px;
            z-index: 1;
        }

        .calendar-top {
            position: relative;
            z-index: 2;
            top: 2.5px;
            width: 96%;
            height: 22px;
            background: #b0c1dd;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);

            &::before {
                content: "";
                position: absolute;
                top: -6px;
                left: 0px;
                width: calc(100% + 5.5px);
                height: 6px;
                background: #d4ddf9;
                clip-path: polygon(
                    0 100%,
                    6px 0,
                    100% 0,
                    calc(100% - 6px) 100%
                );
            }

            &::after {
                content: "";
                position: absolute;
                top: -6px;
                right: -5px;
                width: 5px;
                height: 28px;
                background: #7580a5;
                clip-path: polygon(
                    0 6px,
                    100% 0,
                    100% calc(100% - 6px),
                    0 100%
                );
            }
        }

        .calendar-paper {
            min-height: 75px;
            height: 100px;
            aspect-ratio: 1 / 1;
            padding: 0.75rem 0.5rem;
            background: #fefbf5;
            border: 1px solid #e5e0d6;
            border-top: none;
            box-sizing: border-box;
            box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.12);
            border-radius: 0 0 7px 7px;
            // la texture
            background-image:
                radial-gradient(
                    rgba(120, 110, 90, 0.08) 0.6px,
                    transparent 0.6px
                ),
                radial-gradient(
                    rgba(120, 110, 90, 0.05) 0.5px,
                    transparent 0.5px
                );
            background-size: 7px 7px, 11px 11px;
            background-position: 0 0, 3px 4px;    
        }

        .calendar-month {
            margin-top: 0.25rem;
            margin-bottom: 0.125rem;
            font-size: 0.65rem;
            font-weight: 500;
            letter-spacing: 0.1em;
        }

        .calendar-day {
            margin-top: 0rem;
            font-size: 2rem;
            font-weight: 600;
            color: #485884;
            line-height: 1;
        }
    }

    // i coniglietti
    .waving-bunny-one {
        position: absolute;
        width: 30vw;
        left: 47.5%;
        bottom: 27.25%;
        transform: translateX(-50%);
    }

    .waving-bunny-two {
        position: absolute;
        width: 32vw;
        left: 44.5%;
        bottom: 27.25%;
        transform: translateX(-50%);
    }

    .waving-bunny-text {
        position: absolute;
        width: 27.5vw;
        left: 71.25%;
        bottom: 37.75%;
        transform: translateX(-50%);
    }
    
    .primary-button {
        position: absolute;
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
        bottom: 9.875rem;
        z-index: 2;
        font-size: larger;
    }
}

// BALLOONS SCENE
.scene-balloons {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .scene-title {
        position: absolute;
        margin: 0 0 1.25rem 0;
        z-index: 3;
        align-items: center;
        // color: #d4ddf9;
        color: #78879a;
        font-size: x-large;
        top: 9.25%;
        left: 50%;
        transform: translate(-50%);
    }

    .frame-and-mask-and-balloons-container {
        position: absolute;
        width: 100vw;
        aspect-ratio: 752 / 987;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        .frame-back {
            position: absolute;
            width: 83.25vw;
            aspect-ratio: 90 / 124;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #f6f9ff;
            z-index: 0;
        }
        
        .frame-front {
            position: absolute;
            width: 100%;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
        
        .balloon-mask {
            position: absolute;
            width: 83.25vw;
            aspect-ratio: 90 / 123;
            top: 50.125%;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow: hidden;
            z-index: 2;
            
            .balloon {
                position: absolute;
                width: 17vw;
                height: auto;
                transform: translate(-50%, -50%);
            }
        }
    }
}

// i backgrounds
.bg-intro {
    background: linear-gradient(
        35deg,
        #d0e6ff 50%,
        #fff6dd 80%,
        #fffdf5 100%
    );
}

.bg-go-on {
    background-color: #90a9d0;
}

.bg-too-early {
    background-image: url("../assets/images/bg-snow-angel3.png");
    background-size: 177% auto;
    background-position: 50% 15%;
    background-repeat: no-repeat;
}

.bg-on-time {
    background-image: url("../assets/images/air-view-snow-bg1.png");
    background-size: auto 100%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

.bg-balloons {
    width: 100%;
    height: 100%;

    background-color: #fffcf8;

    background-image:
        linear-gradient(
            90deg,
            rgba(155, 190, 205, 0.125) 15px,
            transparent 15px
        ),
        linear-gradient(
            0deg,
            rgba(155, 190, 205, 0.125) 15px,
            transparent 15px
        );

    background-size: 70px 77.5px;
}

// il bokeh
#bokeh-container {
    position: fixed;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}

.bokeh-dot {
    position: absolute;
    border-radius: 50%;
    filter: blur(2px);
    animation: bokehFloat 8s ease-in-out infinite alternate;
}

@keyframes bokehFloat {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-12px);
    }
}